#view-container {
	margin-top: 80px;
}

.connection-status {
	position: absolute;
	width: 1.25em;
	height: 1.25em;
	top: 15px;
	left: 10px;
	display: inline-block;
	text-align: center;
	border-radius: 1.25em;
	line-height: normal;
}

.connection-status span {
	font-size: 8px;
	color: #ddd;
}
.connection-status-connected {
	background-color: #00CD00;
}

.connection-status-disconnected {
	background-color: #CD0000;
}

.connection-status-connecting {
	background-color: #FF7F00;
}

.pool-summary {
}