#view-container {
	margin-top: 80px;
}

.connection-status {
	position: absolute;
	width: 1.25em;
	height: 1.25em;
	top: 15px;
	left: 10px;
	display: inline-block;
	text-align: center;
	border-radius: 1.25em;
	line-height: normal;
}

.connection-status span {
	font-size: 8px;
	color: #ddd;
}
.connection-status-connected {
	background-color: #00CD00;
}

.connection-status-disconnected {
	background-color: #CD0000;
}

.connection-status-connecting {
	background-color: #FF7F00;
}

.favorite-true {
	color: red;
}

.favorite-false {
	color: gray;
}

div.favorites .favorite-true,
div.favorites .favorite-false {
	position: absolute;
	right: 0.25em;
	top: 0.25em;
	font-size: 2em;
}

.proxy-list li a {
	font-weight: bold;
	font-size: 1.2em;
	margin-right: 0.5em;
}

.proxy-list .favorite-true,
.proxy-list .favorite-false {
	font-size: 1.2em;
	margin-right: 0.5em;
}