<h2>Favorites</h2>
<div class="well col-lg-6 favorites" ng-repeat="ps in favorites">
    <h3><a href="#" ng-click="navigateToDetail(ps)">{{ps.meta.service.meta.hostname}}</a> {{ps.meta.service.host}}</h3>
    <span ng-click="toggleFavorite(ps)" class="glyphicon glyphicon-heart favorite-{{isFavorite(ps)}}"></span>
	<span>{{ps.id}}</span>
	<div ng-repeat="(id, fe) in ps.getFrontends()">
		Frontend {{fe.name}} [{{ps.getFrontendStatus(fe.name).status}}] {{fe.bind}} -> {{fe.backend}}<br/>
		<time-series data="{{ps.getFrontendConnectionStats(fe.name)}}" width="300" height="50">
			<div class="time-series-label">{{ps.getFrontendStatus(fe.name).connections.current}} connections ({{ps.getFrontendStatus(fe.name).connections.max}} max)</div>
		</time-series>
	</div>
	<div ng-repeat="(id, be) in ps.getBackends()">
		Backend {{be.name}} [{{ps.getBackendStatus(be.name).status}}]
		<span ng-switch on="be.type">
			<span ng-switch-when="spindrift">{{be.role}}@{{be.version}}</span>
			<span ng-switch-when="static">static</span>
		</span>
		<br/>
		<servers-donut total="{{be.members.length}}" healthy="{{ps.getBackendMemberHealthCount(be.name)}}"/>
		<br/>
		<time-series data="{{ps.getBackendConnectionStats(be.name)}}" width="300" height="50">
			<div class="time-series-label">{{ps.getBackendStatus(be.name).connections.current}} connections ({{ps.getBackendStatus(be.name).connections.max}} max)</div>
		</time-series>
	</div>
</div>