<div class="panel panel-default proxy-detail" ng-show="ps">

  <div class="panel-heading" style="position: relative">
     <h3 class="panel-title"><a href="#" ng-click="navigateToDetail(ps)">{{ps.meta.service.meta.hostname}}</a></h3>
    <span>{{ps.id}}</span>
    <div ng-click="toggleFavorite(ps)" class="glyphicon glyphicon-heart favorite-{{isFavorite(ps)}}"></div>
  </div>

  <div class="panel-body">
    <div class="frontends">
      <h5>Frontends</h5>
      <div ng-repeat="fe in frontends">
        <h4>{{fe.name}}
          <span class="label label-{{statusLabelClass(statuses[fe.id].status)}}">
            {{statuses[fe.id].status}}
          </span>
        </h4>
        Bind: {{fe.bind}}<br/>
        Default backend: {{fe.backend}} <br/>
        Rules: {{fe.rules}} <br/>
        Natives: {{fe.natives}} <br/>

        <div class="time-series-wrapper">
          <div class="time-series-label">{{statuses[fe.id].connections.current}} connections / {{statuses[fe.id].connections.max}} max</div>
          <time-series data="data = connStats[fe.id]" width="300" height="80"></time-series>
        </div>
      </div>
    </div>
    <div class="backends">
      <h5>Backends</h5>
      <div ng-repeat="be in backends">
        <div>
          <h4>{{be.name}}
            <span class="label label-{{statusLabelClass(statuses[be.id].status)}}">
              {{statuses[be.id].status}}
            </span>
          </h4>
          <span ng-switch on="be.type">
            <span ng-switch-when="spindrift">{{be.role}}@{{be.version}}</span>
            <span ng-switch-when="static">static</span>
          </span>
        </div>
        <div class="time-series-wrapper inline">
          <span class="time-series-label">{{statuses[be.id].connections.current}} connections / {{statuses[be.id].connections.max}} max</span><br/>
          <time-series data="connStats[be.id]" width="300" height="80"></time-series>
        </div>
        <servers-donut class="inline" total="{{be.members.length}}" healthy="{{healthCounts[be.id]}}"></servers-donut>

        <div class="members">
          <h5>Members</h5>
          <div class="well">
            <div ng-repeat="member in be.members">
              {{member.host}}:{{member.port}} 
              <span class="label label-{{statusLabelClass(statuses[member.id].status)}}">
                {{statuses[member.id].status}}
              </span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>