<div ng-show="ps">
	<h2>{{ps.id}}</h2>
	<span ng-click="toggleFavorite(ps)" class="glyphicon glyphicon-heart favorite-{{isFavorite(ps)}}"></span>
	<p>Frontends</p>
	<ul>
		<li ng-repeat="(id, fe) in ps.getFrontends()" >
			{{fe.name}} [{{ps.getFrontendStatus(fe.name).status}}] <br/>
			connections: current: {{stats.connections.current}}, max: {{stats.connections.max}} <br/> 
			Bind: {{fe.bind}}<br/>
			Default backend: {{fe.backend}} <br/>
			Rules: {{fe.rules}} <br/>
			Natives: {{fe.natives}} <br/>
		</li>
	</ul>
	<p>Backends</p>
	<ul>
		<li ng-repeat="(id, be) in ps.getBackends()">
			{{be.name}} [{{ps.getBackendStatus(be.name).status}}]  - {{ps.getBackendMemberHealthCount(be.name)}}/{{be.members.length}}
			<span ng-switch on="be.type">
				<span ng-switch-when="spindrift">{{be.role}}@{{be.version}}</span>
				<span ng-switch-when="static">static</span>
			</span><br/>
			connections: current: {{ps.getBackendStatus(be.name).connections.current}}, 
			max: {{ps.getBackendStatus(be.name).connections.max}} <br/> 
			<ul>
				<li ng-repeat="member in be.members">
					{{member.host}}:{{member.port}} 
					[{{ps.getBackendMemberStatus(be.name, member.host, member.port).status}}]
				</li>
			</ul>

		</li>
	</ul>
</div>